@model WukkamanCleaningAgencyFrontend.Models.Shift

@{
    ViewData["Title"] = "Vehicle Inventory Creation";
}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h4 class="text-success">Vehicle Inventory Creation</h4>
        <hr />
        <form asp-action="Upsert" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" multiple name="files" id="Image" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentCost" class="control-label"></label>
                <input asp-for="RentCost" class="form-control" />
                <span asp-validation-for="RentCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPassengers" class="control-label"></label>
                <input asp-for="NumberOfPassengers" class="form-control" />
                <span asp-validation-for="NumberOfPassengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOLargeBags" class="control-label"></label>
                <input asp-for="NumberOLargeBags" class="form-control" />
                <span asp-validation-for="NumberOLargeBags" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UsbAdapter" /> @Html.DisplayNameFor(model => model.UsbAdapter)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReverseCamera" /> @Html.DisplayNameFor(model => model.ReverseCamera)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PushStart" /> @Html.DisplayNameFor(model => model.PushStart)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bluetooth" /> @Html.DisplayNameFor(model => model.Bluetooth)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToolsControl" /> @Html.DisplayNameFor(model => model.ToolsControl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SteeringControl" /> @Html.DisplayNameFor(model => model.SteeringControl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ThermalControl" /> @Html.DisplayNameFor(model => model.ThermalControl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HeatedSeat" /> @Html.DisplayNameFor(model => model.HeatedSeat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AutomaticTransmission" /> @Html.DisplayNameFor(model => model.AutomaticTransmission)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FourWheelDrive" /> @Html.DisplayNameFor(model => model.FourWheelDrive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LeatherSeats" /> @Html.DisplayNameFor(model => model.LeatherSeats)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aux" /> @Html.DisplayNameFor(model => model.Aux)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StartDateAvailable" class="control-label"></label>
                <input asp-for="StartDateAvailable" class="form-control" />
                <span asp-validation-for="StartDateAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateAvailable" class="control-label"></label>
                <input asp-for="EndDateAvailable" class="form-control" />
                <span asp-validation-for="EndDateAvailable" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary w-100">View All</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
