@model WukkamanCleaningAgencyFrontend.Models.Shift

@{
    ViewData["Title"] = "Employee Clock In";
}

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <h1 class="heading" style="color: #B6244F;">@ViewData["Title"]</h1>
        <hr />
        <form asp-action="Upsert" class="body-text">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Employee!.Id" class="form-control" hidden/>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MWOF" /> @Html.DisplayNameFor(model => model.MWOF)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DCF" /> @Html.DisplayNameFor(model => model.DCF)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CGWD" /> @Html.DisplayNameFor(model => model.CGWD)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EWB" /> @Html.DisplayNameFor(model => model.EWB)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CB" /> @Html.DisplayNameFor(model => model.CB)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RT" /> @Html.DisplayNameFor(model => model.RT)
                </label>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ShiftStart" class="control-label"></label>
                <input asp-for="ShiftStart" class="form-control" disabled/>
                @* <span asp-validation-for="ShiftStart" class="text-danger"></span> *@
            </div>
            <div class="form-group mt-2">
                <label asp-for="ShiftEnd" class="control-label"></label>
                <input asp-for="ShiftEnd" class="form-control" />
                @* <span asp-validation-for="ShiftEnd" class="text-danger"></span> *@
            </div>
            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                        <input type="submit" value="ClOCK OUT" class="btn heading w-50 fs-5 body-text py-2" style="color: white; background-color: #B6244F ; border-radius: 999px; font-weight: bold"/>
                </div>
            </div>
        </form>
    </div>
</div>
@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
